# Dependencies
node_modules/

# Environment / secrets
.env
.env.*
!.env.example

# Allure generated reports
reports/allure/allure-results/
reports/allure/allure-report/

# Newman generated reports
reports/functional/*.xml
reports/functional/*.json
reports/functional/*.html

reports/data-driven/*.xml
reports/data-driven/*.json
reports/data-driven/*.html

reports/e2e/*.xml
reports/e2e/*.json
reports/e2e/*.html

# Postman local/private files
.postman/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db